@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@300&display=swap');
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;

}
h1{
 font-size: 50px;
 line-height: 64px;
 color: #222;
}

h2{
    font-size: 50px;
    line-height: 64px;
    color: #222;
   }

h4{
    font-size: 50px;
    line-height: 64px;
    color: #222;
   }

h6{
    font-size: 25px;
    line-height: 32px;
    color: #545454;
   }

.section.id{
    padding: 40px 80px ;
}
.section-p1{
    padding: 40px;
}

.section-M1{
    padding: 0;
}
body {
    width: 100%;
    border: 0px 0px 0px 0px;
    margin-right: 0px;

}

/* img.logo {
    size: 20px 50px;
    



} */
#header{

     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 80px;
     box-shadow: 0 5px 15px ;
     background: #E18E38;
     z-index: 999 ;
     position: sticky;
     top: 0;
     left: 0;

}

#navbar{

    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li {
    list-style: none;
    padding: 0 20px;
    }

    #navbar li a{
        text-decoration: none;
        font-size: 55px;
        font-weight: 550;
        color:#1a1a1a;
        transition: 0.3s ease;

    }
    #navbar li a:hover ,
    #navbar li a.active {
        color: #1a1 ;
    }
    #navbar li a.active::after
    #navbar li a:hover::after
    {
        content: "";
        width: 30%;
        height: 2px;
        background: #088178;
        position: absolute;
        bottom: -4px;
        left: 20px;
        
    }
    #hero{
        background-image: url("img/pexle.jpeg");
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-position: top 25% right 0 ;
        padding: 0 80px ;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        
    } 
    #hero h4{
        padding-bottom: 15px ;
        color: #088178;

    }
    #hero h2{
        color: #088178;
    }
    #hero h1{
        color: #088178;

    }
    #hero button{
        background-image: url("img/");
        background-color: transparent;
        color: #088178;
        border: 0;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;

    }
    #feature {
        display: flex;
        align-items: center;
        justify-content:space-between ;
        flex-wrap:wrap ;
        
    }
    #feature .fe-box{
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(red, green, blue, alpha);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;
        
    }
    #feature .fe-box:hover{
        box-shadow: 10px 10px 10px 54px rgba(red, green, blue, alpha);
    }
    #feature .fe-box img{
            width:  100%;
            margin-bottom:10px;
    }
    #feature .fe-box h6{
        display: inline-block;
        padding: 9px 8px 6px 8px;
        line-height:1 ;
        border-radius: 4px;
        color:  #042523;
        background-color: #fddde4;
    }
    #feature .fe-box:nth-child(2) h6 {

        background-color: #1aa310;
    }
    #feature .fe-box:nth-child(3) h6 {

        background-color: #5b1abd;
    }#feature .fe-box:nth-child(4) h6 {

        background-color: #e43b60;
    }#feature .fe-box:nth-child(5) h6 {

        background-color: #ecc92c;
    }#feature .fe-box:nth-child(6) h6 {

        background-color: #39ccdd;
    }
